/* CSS Reset by Andy Bell */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Manrope", sans-serif;
  padding: 1.5rem;
  margin: 0;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  max-width: 45rem;
}
.container .image {
  max-height: 200px;
  object-fit: cover;
  object-position: center top;
  width: 100%;
}
.container .text-container {
  padding: 2.25rem 2rem 1.5rem;
}
.container .text-container .heading.heading-2 {
  margin-top: 0;
  font-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  line-height: 1.4;
}
.container .text-container .body-text {
  font-weight: 500;
}
.container .bottom-container {
  position: relative;
}
.container .author-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.container .author-button-container .author-only {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.container .author-button-container .author-only .sr-only {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
}
.container .author-button-container .author-only .author-avatar {
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.container .author-button-container .author-only .author-info .author-name {
  color: hsl(217, 19%, 35%);
  font-size: 0.813rem;
  font-weight: 700;
  margin: 0;
}
.container .author-button-container .author-only .author-info .author-date {
  margin: 0;
}
.container .body-text, .container .author-date {
  font-size: 0.813rem;
  line-height: 1.5;
  color: hsl(214, 17%, 51%);
}

.share-btn {
  padding: 0.75rem;
  border: none;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  z-index: 20;
}

.share-pop {
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  gap: 1rem;
  transform: translateY(100%);
  transition: all 0.2s;
}
.share-pop .share-text {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  font-size: 0.813rem;
}
.share-pop .share-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.share-pop.active {
  transform: translate(0);
}

@media screen and (min-width: 31em) {
  .container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .container .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    max-height: none;
  }
  .container .author-container {
    padding-top: 0;
  }
}
@media screen and (min-width: 57.5em) {
  .share-pop {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: max-content;
    height: max-content;
    transform: translate(180px, 10px);
    border-radius: 10px;
    z-index: 999;
    transition: all 0.2s ease-in;
  }
  .share-pop::after {
    content: "";
    position: absolute;
    border-top: 12px solid hsl(217, 19%, 35%);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    transform: translate(-50%);
    left: 50%;
    top: 52px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  }
  .share-pop.active {
    visibility: visible;
    opacity: 1;
    transform: translate(180px, 10px);
  }
}

/*# sourceMappingURL=style.css.map */
