@import "./reset";

// CSS by Michelle Chong

// Main Variables (Style Guide)
// Color
$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$font: 'Manrope', sans-serif;

$weight-500: 500;
$weight-700: 700;

$font-size-body: 0.813rem;

// Padding & Margin

// Global Style

body {
    font-family: $font;
    padding: 1.5rem;
    margin: 0;
    background-color: $light-grayish-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    max-width: 45rem;

    .image {
        max-height: 200px;
        object-fit: cover;
        object-position: center top;
        width: 100%;
    }

    .text-container {
        padding: 2.25rem 2rem 1.5rem;

        .heading.heading-2 {
            margin-top: 0;
            font-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);
            color: $dark-grayish-blue;
            font-weight: $weight-700;
            line-height: 1.4;
        }

        .body-text {
            font-weight: $weight-500;
        }
    }

    .author-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .author {
            display: flex;
            gap: 1rem;
            align-items: center;

            .author-avatar {
                max-width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }

            .author-info {
                .sr-only {
                    visibility: hidden;
                    height: 0;
                    width: 0;
                    margin: 0;
                }

                .author-name {
                    color: $dark-grayish-blue;
                    font-size: $font-size-body;
                    font-weight: $weight-700;
                }

                .author-date {
                    margin: 0;
                }
            }
        }
    }

    .body-text, .author-date {
        font-size: $font-size-body;
        line-height: 1.5;
        color: $desaturated-dark-blue;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width: 56rem) {
    .container {
        display: grid;
        grid-template-columns: 0.5fr 1fr;

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center top;
            max-height: none;
        }

        .author-container {
            padding-top: 0;
        }
    }
}



