@import "./reset";

// CSS by Michelle Chong

// Main Variables (Style Guide)
// Color
$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$font: 'Manrope', sans-serif;

$weight-500: 500;
$weight-700: 700;

$font-size-body: 0.813rem;

// Padding & Margin

// Global Style

// * {
//     outline: 1px solid pink;
// }

body {
    font-family: $font;
    padding: 1.5rem;
    margin: 0;
    background-color: $light-grayish-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    max-width: 45rem;

    // Image 
    .image {
        max-height: 200px;
        object-fit: cover;
        object-position: center top;
        width: 100%;
    }

    // Text
    .text-container {
        padding: 2.25rem 2rem 1.5rem;

        .heading.heading-2 {
            margin-top: 0;
            font-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);
            color: $dark-grayish-blue;
            font-weight: $weight-700;
            line-height: 1.4;
        }

        .body-text {
            font-weight: $weight-500;
        }
    }

    // Author
    .bottom-container {
        position: relative;
    }

    .author-button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .author-only {
            display: flex;
            gap: 1rem;
            align-items: center;

            .sr-only {
                visibility: hidden;
                height: 0;
                width: 0;
                margin: 0;
            }
            
            .author-avatar {
                max-width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }

            .author-info {
                .author-name {
                    color: $dark-grayish-blue;
                    font-size: $font-size-body;
                    font-weight: $weight-700;
                    margin: 0;
                }

                .author-date {
                    margin: 0;
                }

            }
        }
    }

    .body-text, .author-date {
        font-size: $font-size-body;
        line-height: 1.5;
        color: $desaturated-dark-blue;
    }
}

// Button & Pop-up Design
.share-btn {
    padding: 0.75rem;
    border: none;
    background-color: $light-grayish-blue;
    border-radius: 50%;
    z-index: 20;
}

.share-pop {
    position: absolute;
    background-color: $dark-grayish-blue;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 2rem; 
    gap: 1rem;
    transform: translateY(100%);
    transition: all 0.2s;

    .share-text {
        color: $grayish-blue;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0;
        font-size: $font-size-body;
    }

    .share-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5rem;
        margin: 0;
    }
}

.share-pop.active {
    transform: translate(0);
}


// Desktop Design
@media screen and (min-width: 31em) {
    .container {
        display: grid;
        grid-template-columns: 0.5fr 1fr;

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center top;
            max-height: none;
        }

        .author-container {
            padding-top: 0;
        }
    }
}

@media screen and (min-width: 57.5em) {
    .share-pop {
        visibility: hidden;
        position: fixed;
        opacity: 0;
        top: 50%;
        left: 50%;
        width: max-content;
        height: max-content;
        transform: translate(180px, 10px);
        border-radius: 10px;
        z-index: 999;
        transition: all 0.2s ease-in;
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

        &::after {
            content: '';
            position: absolute;
            border-top: 12px solid $dark-grayish-blue;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            transform: translate(-50%);
            left: 50%;
            top: 52px;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate(180px, 10px);
        }
    }
}




    

