@import "./reset";

// CSS by Michelle Chong

// Main Variables (Style Guide)
// Color
$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$heading: 'Manrope', sans-serif;

$weight-500: 500;
$weight-700: 700;

$font-size-body: 0.813rem;

// Padding & Margin

// CSS Start